.SearchBox-form {
    display: block;
    position: relative;
}

.SearchBox-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: .3rem 1.7rem;
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #c4c8d8;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

.Submit {
    left: .3rem;
}

.Reset{
    right: .3rem;
}

.SearchBox-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    z-index: 1;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    overflow: visible;
    font: inherit;
    line-height: normal;
    color: inherit;
    background: none;
    border: 0;
    cursor: pointer;
}

.SearchBox-Icon {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 0;
    overflow: visible;
    font: inherit;
    line-height: normal;
    color: inherit;
    background: none;
    border: 0;
    cursor: pointer;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.Hits-list {
    display: block;
    margin-top: -1rem;
    margin-left: -1rem;
    flex-wrap: wrap;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    font-size: 1rem;
    box-sizing: border-box;
}

.Hits-item {
    border: 1px solid #c4c8d8;
    box-shadow: 0 2px 5px 0 #e3e5ec;
    width: calc(100% - 1rem);
}

.Hit-price {
    font-size: 2rem;
    font-style: normal;
    line-height: .875;
    margin: 0;
}

@media screen and (max-width: 500px) {

}

