<div class="left-panel">
    <!-- stroes -->
    <div>
        <Details open>
            <summary>Stroes</summary>
            <ul class="list-group">
                <li class="list-group-item  list-item">
                    <label class="label">
                        <input type="checkbox" class="form-check-input" [checked]="isSearchCountdown"
                            (change)="isSearchCountdown=$event.target?.checked">
                        <span>Countdown</span>
                    </label>
                </li>
                <li class="list-group-item  list-item">
                    <label class="label">
                        <input type="checkbox" class="form-check-input" [checked]="isSearchNewworld"
                            (change)="isSearchNewworld=$event.target?.checked">
                        <span>New World</span>
                    </label>
                    <input list="newworldStores" placeholder="Your stroe location" class="form-control" [(ngModel)]="newworld._selectedStoreName" (change)="changeNewWorldStore()">
                    <datalist id="newworldStores">
                      <option  *ngFor="let stroe of newworld._stores" value="{{stroe.name}}" label="{{stroe.address}}"></option>
                    </datalist>
                </li>
                <li class="list-group-item  list-item">
                    <label class="label">
                        <input type="checkbox" class="form-check-input" [checked]="isSearchPaknSave"
                            (change)="isSearchPaknSave=$event.target?.checked">
                        <span>PAK'n SAVE</span>
                    </label>
                    <input list="paknSaveStores" placeholder="Your stroe location" class="form-control" [(ngModel)]="paknSave._selectedStoreName" (change)="changePaknSaveStore()">
                    <datalist id="paknSaveStores">
                      <option  *ngFor="let stroe of paknSave._stores" value="{{stroe.name}}" label="{{stroe.address}}"></option>
                    </datalist>
                </li>
            </ul>
        </Details>
    </div>
    <!-- My list -->
    <div>
        <Details open>
            <summary>
                My List
                <a data-bs-toggle="modal" data-bs-target="#myListDetails" title="Details"  style="cursor: pointer;margin-left: 0.5em;">
                    <i class="fa fa-info" style="width: 2em;"></i>
                </a>
                <a data-bs-toggle="modal" data-bs-target="#myListDetails" title="Send to me"  style="cursor: pointer">
                  <i class="fa fa-envelope-o" style="width: 2em;"></i>
                </a>
            </summary>
            <ol class="list-group list-group-flush" *ngFor="let l of myList">
                <li class="list-group-item">
                    <img src="{{l.image}}" style="max-width: 25%;" />
                    <span class="badge bg-primary rounded-pill">{{l.number}}</span>
                </li>
            </ol>
            <a (click)="deleteAllMyList()" title="Delete All" style="cursor: pointer;margin-left: 7.7em;margin-top: 0.5em;">
              <i class="fa fa-trash-o" style="width: 1em;"></i>
            </a>
        </Details>
    </div>
</div>

<div class="right-panel">
    <!-- search box -->
    <div class="container">
        <div>Hot words</div>
        <ul class="nav">
            <li class="nav-item" *ngFor="let key of hotkey">
                <a class="nav-link" href="#" (click)="keyword=key.key;search()">{{key.key}}</a>
            </li>
        </ul>
        <div class="SearchBox">
            <div class="SearchBox-form">
                <input autocapitalize="off" autocorrect="off" role="textbox" spellcheck="true" type="text" autofocus
                    class="SearchBox-input" placeholder="Search" [value]="keyword"
                    (input)="keyword=$event.target?.value" (keyup.enter)="search()" [disabled]="countdown._isSearching || newworld._isSearching || paknSave._isSearching">
                <button class="SearchBox-button Submit" title="Submit" (click)="search()" [disabled]="countdown._isSearching || newworld._isSearching || paknSave._isSearching" #searchBox>
                    <svg viewBox="0 0 40 40" class="SearchBox-Icon">
                        <path
                            d="M26.804 29.01c-2.832 2.34-6.465 3.746-10.426 3.746C7.333 32.756 0 25.424 0 16.378 0 7.333 7.333 0 16.378 0c9.046 0 16.378 7.333 16.378 16.378 0 3.96-1.406 7.594-3.746 10.426l10.534 10.534c.607.607.61 1.59-.004 2.202-.61.61-1.597.61-2.202.004L26.804 29.01zm-10.426.627c7.323 0 13.26-5.936 13.26-13.26 0-7.32-5.937-13.257-13.26-13.257C9.056 3.12 3.12 9.056 3.12 16.378c0 7.323 5.936 13.26 13.258 13.26z">
                        </path>
                    </svg>
                </button>
                <button type="reset" class="SearchBox-button Reset" title="Reset" (click)="keyword=''">
                    <svg viewBox="0 0 20 20" class="SearchBox-Icon">
                        <path
                            d="M8.114 10L.944 2.83 0 1.885 1.886 0l.943.943L10 8.113l7.17-7.17.944-.943L20 1.886l-.943.943-7.17 7.17 7.17 7.17.943.944L18.114 20l-.943-.943-7.17-7.17-7.17 7.17-.944.943L0 18.114l.943-.943L8.113 10z">
                        </path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <!-- search result -->
    <div class="blog-wrapper clearfix">
        <div class="container">
            <div class="row accordion">
                <!-- Countdown -->
                <div class="col-12 col-md-4 col-lg-4 col-sm-4" [hidden]="!isSearchCountdown">
                    <p data-bs-toggle="collapse" data-bs-target="#countdown"
                        [ngClass]="{'accordion-button': countdown._result != null }">Countdown</p>
                    <p [hidden]="!countdown._isSearching">Searching...</p>
                    <div id="countdown">
                        <ol class="Hits-list">
                            <li *ngFor="let product of countdown._result">
                                <div class="card-deck Hits-item">
                                    <div class="card-body">
                                        <a href="{{product.linkUrl}}" title="{{product.title}}" target="view_window">
                                            <img src="{{product.image}}" class="img-fluid" />
                                            <h5 class="card-title">{{product.title}}</h5>
                                        </a>
                                        $<em class="Hit-price">{{product.price}}</em>
                                        <button class="btn btn-link btn-sm" (click)="addToMyList('Countdown', product)">
                                            Add to my list</button>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- NewWorld -->
                <div class="col-12 col-md-4 col-lg-4 col-sm-4" [hidden]="!isSearchNewworld">
                    <p data-bs-toggle="collapse" data-bs-target="#newWorld"
                        [ngClass]="{'accordion-button': newworld._result != null }">
                        New World
                      </p>
                    <p [hidden]="!newworld._isSearching">Searching...</p>
                    <div id="newWorld">
                        <ol class="Hits-list">
                            <li *ngFor="let product of newworld._result">
                                <div class="card-deck Hits-item">
                                    <img src="{{product.image}}" class="img-fluid" />
                                    <div class="card-body">
                                        <a href="{{product.linkUrl}}" title="{{product.title}}" target="view_window">
                                            <h5 class="card-title">{{product.title}}</h5>
                                        </a>
                                        $<em class="Hit-price">{{product.price}}</em>
                                        <button class="btn btn-link btn-sm" (click)="addToMyList('New World', product)">
                                            Add to my list</button>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- Pak'nSave -->
                <div class="col-12 col-md-4 col-lg-4 col-sm-4" [hidden]="!isSearchPaknSave">
                    <p data-bs-toggle="collapse" data-bs-target="#paknSave"
                        [ngClass]="{'accordion-button': paknSave._result != null }">Pak'n Save</p>
                    <p [hidden]="!paknSave._isSearching">Searching..</p>
                    <div id="paknSave">
                        <ol class="Hits-list">
                            <li *ngFor="let product of paknSave._result">
                                <div class="card-deck Hits-item">
                                    <img src="{{product.image}}" class="img-fluid" />
                                    <div class="card-body">
                                        <a href="{{product.linkUrl}}" title="{{product.title}}" target="view_window">
                                            <h5 class="card-title">{{product.title}}</h5>
                                        </a>
                                        $<em class="Hit-price">{{product.price}}</em>
                                        <button class="btn btn-link btn-sm" (click)="addToMyList('Pakn Save', product)">
                                            Add to my list</button>

                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- My list details -->
<div class="modal fade" id="myListDetails" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Total Price: $<em class="Hit-price">{{getTotalPrice()}}</em></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="sendEmail($event)">
                    <div class="input-group input-group-sm mb-3">
                        <input type="email" name="email" class="form-control" placeholder="Send to my Email address">
                        <button class="input-group-text" title="Send" type="submit"><i class="fa fa-paper-plane-o"></i></button>
                        <div hidden="true">
                            <div #details>
                                <h4>Total Price: $<em>{{getTotalPrice()}}</em></h4>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Unit price</th>
                                            <th>Quantity</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let product of getStoreList('Countdown')">
                                        <tr>
                                            <th>
                                                <img src="{{product.image}}" style="max-width: 12%;" />
                                                <a href="{{product.linkUrl}}" title="{{product.title}}"
                                                    target="view_window">
                                                    {{product.title}}
                                                </a>
                                            </th>
                                            <th>{{product.price}}</th>
                                            <th>{{product.number}}</th>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                <h4>Countdown Total Price:</h4>
                                            </th>
                                            <th>
                                                <h4>$<em>{{getStoreTotalPrice('Countdown')}}</em></h4>
                                            </th>
                                        </tr>
                                    </tfoot>
                                </table>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Unit price</th>
                                            <th>Quantity</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let product of getStoreList('New World')">
                                        <tr>
                                            <th>
                                                <img src="{{product.image}}" style="max-width: 12%;" />
                                                <a href="{{product.linkUrl}}" title="{{product.title}}"
                                                    target="view_window">
                                                    {{product.title}}
                                                </a>
                                            </th>
                                            <th>{{product.price}}</th>
                                            <th>{{product.number}}</th>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                <h4>New world Total Price:</h4>
                                            </th>
                                            <th>
                                                <h4>$<em>{{getStoreTotalPrice('New World')}}</em></h4>
                                            </th>
                                        </tr>
                                    </tfoot>
                                </table>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Unit price</th>
                                            <th>Quantity</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let product of getStoreList('Pakn Save')">
                                        <tr>
                                            <th>
                                                <img src="{{product.image}}" style="max-width: 12%;" />
                                                <a href="{{product.linkUrl}}" title="{{product.title}}"
                                                    target="view_window">
                                                    {{product.title}}
                                                </a>
                                            </th>
                                            <th>{{product.price}}</th>
                                            <th>{{product.number}}</th>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                <h4>Pak'n Save Total Price:</h4>
                                            </th>
                                            <th>
                                                <h4>$<em>{{getStoreTotalPrice('Pakn Save')}}</em></h4>
                                            </th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div [hidden]="!emaiService._isWaitting">
                        <div class="d-flex align-items-center">
                            <strong>{{emaiService._message}}</strong>
                            <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                        </div>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table table-sm">
                        <caption>Countdown</caption>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Unit price</th>
                                <th>Quantity</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let product of getStoreList('Countdown')">
                            <tr>
                                <th>
                                    <img src="{{product.image}}" style="max-width: 8%;" />
                                    <a href="{{product.linkUrl}}" title="{{product.title}}" target="view_window">
                                        {{product.title}}
                                    </a>
                                </th>
                                <th>{{product.price}}</th>
                                <th>
                                    <input type="number" min="1" step="1"
                                        oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                                        [value]="product.number" (input)="product.number=$event.target?.value">
                                </th>
                                <th>
                                    <button class="btn btn-link" (click)="deleteListProduct(product)"><i
                                            class="fa fa-trash-o"></i></button>
                                </th>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    <h5>Countdown Total Price:</h5>
                                </th>
                                <th>
                                    $<em class="Hit-price">{{getStoreTotalPrice('Countdown')}}</em>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                    <table class="table table-sm">
                        <caption>New world</caption>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Unit price</th>
                                <th>Quantity</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let product of getStoreList('New World')">
                            <tr>
                                <th>
                                    <img src="{{product.image}}" style="max-width: 8%;" />
                                    <a href="{{product.linkUrl}}" title="{{product.title}}" target="view_window">
                                        {{product.title}}
                                    </a>
                                </th>
                                <th>{{product.price}}</th>
                                <th>
                                    <input type="number" min="1" step="1"
                                        oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                                        [value]="product.number" (input)="product.number=$event.target?.value">
                                </th>
                                <th>
                                    <button class="btn btn-link" (click)="deleteListProduct(product)"><i
                                            class="fa fa-trash-o"></i></button>
                                </th>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    <h5>New world Total Price:</h5>
                                </th>
                                <th>
                                    $<em class="Hit-price">{{getStoreTotalPrice('New World')}}</em>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                    <table class="table table-sm">
                        <caption>Pak'n Save</caption>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Unit price</th>
                                <th>Quantity</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let product of getStoreList('Pakn Save')">
                            <tr>
                                <th>
                                    <img src="{{product.image}}" style="max-width: 8%;" />
                                    <a href="{{product.linkUrl}}" title="{{product.title}}" target="view_window">
                                        {{product.title}}
                                    </a>
                                </th>
                                <th>{{product.price}}</th>
                                <th>
                                    <input type="number" min="1" step="1"
                                        oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                                        [value]="product.number" (input)="product.number=$event.target?.value">
                                </th>
                                <th>
                                    <button class="btn btn-link" (click)="deleteListProduct(product)"><i
                                            class="fa fa-trash-o"></i></button>
                                </th>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    <h5>Pak'n Save Total Price:</h5>
                                </th>
                                <th>
                                    $<em class="Hit-price">{{getStoreTotalPrice('Pakn Save')}}</em>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
